// Fonts
$family-sans-serif: #{$p-fallback-fonts};

// Colors
$primary: $primary;
$danger: $primary;
$info: $primary;

// Background
$background: #E5E5E5;
$body-background-color: #E5E5E5;

// Texts
$text: $font-color;
